@charset "UTF-8";
.title {
  color: white;
  background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
  display: inline-block;
  padding: 10px 35px;
}

.content {
  width: 96vw;
  height: auto;
  box-shadow: 0 1px 10px whitesmoke;
  border-radius: 25px;
  box-sizing: border-box;
  padding: 25px;
  display: flex;
  align-items: center;
}
.content .item {
  width: 10vw;
  height: 10vw;
  box-shadow: 0 1px 5px wheat;
  margin-right: 35px;
  padding: 25px;
  text-align: center;
  color: rebeccapurple;
  text-shadow: 0 1px 2px rosybrown;
  border: 20px dashed #000;
}
.content .item-1 {
  background-image: url("https://tse1-mm.cn.bing.net/th?id=OIP.bLx51CquIR2c5rp7BN1GjwHaLI&w=120&h=160&c=8&rs=1&qlt=90&pid=3.1&rm=2");
  background-repeat: no-repeat;
  background-origin: border-box;
}
.content .item-2 {
  background-image: url("https://tse1-mm.cn.bing.net/th?id=OIP.bLx51CquIR2c5rp7BN1GjwHaLI&w=120&h=160&c=8&rs=1&qlt=90&pid=3.1&rm=2");
  background-repeat: no-repeat;
  background-origin: content-box;
}
.content .item-3 {
  background-image: url("https://tse1-mm.cn.bing.net/th?id=OIP.bLx51CquIR2c5rp7BN1GjwHaLI&w=120&h=160&c=8&rs=1&qlt=90&pid=3.1&rm=2");
  background-repeat: no-repeat;
  background-origin: padding-box;
}

.content1 {
  width: 96vw;
  height: auto;
  box-shadow: 0 1px 10px whitesmoke;
  border-radius: 25px;
  box-sizing: border-box;
  padding: 25px;
  display: flex;
  align-items: center;
}
.content1 .item {
  width: 10vw;
  height: 10vw;
  box-shadow: 0 1px 5px wheat;
  margin-right: 35px;
  padding: 25px;
  text-align: center;
  color: rebeccapurple;
  text-shadow: 0 1px 2px rosybrown;
  border: 20px dashed #000;
}
.content1 .item-1 {
  background-image: url("https://tse1-mm.cn.bing.net/th?id=OIP.bLx51CquIR2c5rp7BN1GjwHaLI&w=120&h=160&c=8&rs=1&qlt=90&pid=3.1&rm=2");
  background-repeat: no-repeat;
  background-clip: border-box;
}
.content1 .item-2 {
  background-image: url("https://tse1-mm.cn.bing.net/th?id=OIP.bLx51CquIR2c5rp7BN1GjwHaLI&w=120&h=160&c=8&rs=1&qlt=90&pid=3.1&rm=2");
  background-repeat: no-repeat;
  background-clip: content-box;
}
.content1 .item-3 {
  background-image: url("https://tse1-mm.cn.bing.net/th?id=OIP.bLx51CquIR2c5rp7BN1GjwHaLI&w=120&h=160&c=8&rs=1&qlt=90&pid=3.1&rm=2");
  background-repeat: no-repeat;
  background-clip: padding-box;
}

.content2 {
  width: 96vw;
  height: auto;
  box-shadow: 0 1px 10px whitesmoke;
  border-radius: 25px;
  box-sizing: border-box;
  padding: 25px;
  display: flex;
  align-items: center;
}
.content2 .item {
  width: 10vw;
  height: 10vw;
  box-shadow: 0 1px 5px wheat;
  margin-right: 35px;
  padding: 25px;
  text-align: center;
  color: rebeccapurple;
  text-shadow: 0 1px 2px rosybrown;
}
.content2 .item:nth-child(1) {
  background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
}
.content2 .item:nth-child(2) {
  background: repeating-linear-gradient(red, yellow 15%, green 15%, blue 15%, indigo 15%, violet 15%);
}
.content2 .item:nth-child(3) {
  background: radial-gradient(circle, red, orange, yellow, green, blue, indigo, violet);
}
.content2 .item:nth-child(4) {
  background: radial-gradient(ellipse, red, orange, yellow, green, blue, indigo, violet);
}
.content2 .item:nth-child(5) {
  background: repeating-radial-gradient(red, yellow 10%, green 15%, indigo 25%);
}

.content3 {
  width: 96vw;
  height: auto;
  box-shadow: 0 1px 10px whitesmoke;
  border-radius: 25px;
  box-sizing: border-box;
  padding: 25px;
  display: flex;
  align-items: center;
}
.content3 .item {
  width: 10vw;
  height: 10vw;
  box-shadow: 0 1px 5px wheat;
  margin-right: 35px;
  padding: 25px;
  text-align: center;
  color: rebeccapurple;
  text-shadow: 0 1px 2px rosybrown;
}
.content3 .item:nth-child(1) {
  transform: skew(45deg, 145deg);
}
.content3 .item:nth-child(2) {
  transform: matrix(1, 0, 0, 1, 50, 50);
  background-color: rosybrown;
}
.content3 .item:nth-child(3) {
  transform-origin: top center;
  transform: rotateZ(-25deg);
}
.content3 .item:nth-child(4) {
  transition: all 2s ease-in-out 0.1s;
}
.content3 .item:nth-child(4):hover {
  width: 150px;
}
.content3 .item:nth-child(5) {
  animation: changeColor 1s ease 0.1s infinite;
  animation-direction: alternate;
  animation-play-state: paused;
  animation-fill-mode: forwards;
}
.content3 .item:nth-child(5):hover {
  animation-play-state: running;
}

@keyframes changeColor {
  0% {
    background: red;
    transform: rotateZ(45deg);
  }
  15% {
    background: orange;
    transform: rotateZ(90deg);
  }
  30% {
    background: yellow;
    transform: rotateZ(135deg);
  }
  45% {
    background: green;
    transform: rotateZ(180deg);
  }
  60% {
    background: blue;
    transform: rotateZ(225deg);
  }
  75% {
    background: indigo;
    transform: rotateZ(270deg);
  }
  90% {
    background: violet;
    transform: rotateZ(315deg);
  }
  100% {
    background: white;
    transform: rotateZ(360deg);
  }
}
@keyframes rotate {
  to {
    transform: rotate3d(0.8, 1, 0, 360deg);
  }
}
.content4 {
  width: 96vw;
  height: auto;
  box-shadow: 0 1px 10px whitesmoke;
  border-radius: 25px;
  box-sizing: border-box;
  padding: 25px;
  display: flex;
  align-items: center;
  height: 500px;
  width: 100%;
}
.content4 .transform-3d {
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-origin: center;
  -webkit-transform-origin: center;
  animation: rotate linear 10s infinite;
  margin: 0 auto;
}
.content4 .transform-3d .item {
  width: 10vw;
  height: 10vw;
  box-shadow: 0 1px 5px wheat;
  margin-right: 35px;
  padding: 25px;
  text-align: center;
  color: rebeccapurple;
  text-shadow: 0 1px 2px rosybrown;
  margin: 0;
  position: absolute;
}
.content4 .transform-3d .item:nth-child(1) {
  transform: translateY(100px) rotateX(90deg);
}
.content4 .transform-3d .item:nth-child(2) {
  transform: translateY(-100px) rotateX(-90deg);
}
.content4 .transform-3d .item:nth-child(3) {
  transform: translateX(-100px) rotateY(90deg);
}
.content4 .transform-3d .item:nth-child(4) {
  transform: translateX(100px) rotateY(-90deg);
}
.content4 .transform-3d .item:nth-child(5) {
  transform: translateZ(-100px);
}
.content4 .transform-3d .item:nth-child(6) {
  transform: translateZ(100px);
}

.content5 {
  width: 96vw;
  height: auto;
  box-shadow: 0 1px 10px whitesmoke;
  border-radius: 25px;
  box-sizing: border-box;
  padding: 25px;
  display: flex;
  align-items: center;
}
.content5 .item {
  width: 10vw;
  height: 10vw;
  box-shadow: 0 1px 5px wheat;
  margin-right: 35px;
  padding: 25px;
  text-align: center;
  color: rebeccapurple;
  text-shadow: 0 1px 2px rosybrown;
}
.content5 .item:nth-child(1):before {
  content: "在标题前面嵌入内容";
  color: red;
}
.content5 .item:nth-child(1):after {
  content: "在标题后面插入内容";
  color: green;
}
.content5 .item:nth-child(2) {
  outline: green dashed 4px;
}
.content5 .item:nth-child(3) {
  resize: both;
  word-break: break-all;
}

.content6 {
  width: 96vw;
  height: auto;
  box-shadow: 0 1px 10px whitesmoke;
  border-radius: 25px;
  box-sizing: border-box;
  padding: 25px;
  display: flex;
  align-items: center;
}
.content6 .camare {
  width: 200px;
  height: 200px;
  perspective-origin: center center;
  -moz-perspective-origin: center center;
  -webkit-perspective-origin: center center;
  perspective: 500px;
  -moz-perspective: 500px;
  -webkit-perspective: 500px;
  box-shadow: 0 1px 5px wheat;
}
.content6 .camare .space {
  width: 100%;
  height: 100%;
  border: 1px dashed #000;
  transform-style: 3d;
  -moz-transform-style: 3d;
  -webkit-transform-style: 3d;
}
.content6 .camare .space .box {
  width: 100px;
  height: 100px;
  background: orange;
  transform: translateX(50px) translateY(50px) translateZ(150px) rotateY(45deg);
  -moz-transform: translateX(50px) translateY(50px) translateZ(150px) rotateY(45deg);
  -webkit-transform: translateX(50px) translateY(50px) translateZ(150px) rotateY(45deg);
}

.none {
  display: none;
}

/*# sourceMappingURL=base.css.map */
