@mixin box {
  width: 96vw;
  height: auto;
  box-shadow: 0 1px 10px whitesmoke;
  border-radius: 25px;
  box-sizing: border-box;
  padding: 25px;
  display: flex;
  align-items: center;
}

@mixin item {
  width: 10vw;
  height: 10vw;
  box-shadow: 0 1px 5px wheat;
  margin-right: 35px;
  padding: 25px;
  text-align: center;
  color: rebeccapurple;
  text-shadow: 0 1px 2px rosybrown;
}

@mixin title {
  color: white;
  background: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
}
.title {
  @include title;
  display: inline-block;
  padding: 10px 35px;
}
.content {
  @include box;
  .item {
    @include item;
    border: 20px dashed #000;
  }
  .item-1 {
    background-image: url("https://tse1-mm.cn.bing.net/th?id=OIP.bLx51CquIR2c5rp7BN1GjwHaLI&w=120&h=160&c=8&rs=1&qlt=90&pid=3.1&rm=2");
    background-repeat: no-repeat;
    background-origin: border-box;
  }
  .item-2 {
    background-image: url("https://tse1-mm.cn.bing.net/th?id=OIP.bLx51CquIR2c5rp7BN1GjwHaLI&w=120&h=160&c=8&rs=1&qlt=90&pid=3.1&rm=2");
    background-repeat: no-repeat;
    background-origin: content-box;
  }
  .item-3 {
    background-image: url("https://tse1-mm.cn.bing.net/th?id=OIP.bLx51CquIR2c5rp7BN1GjwHaLI&w=120&h=160&c=8&rs=1&qlt=90&pid=3.1&rm=2");
    background-repeat: no-repeat;
    background-origin: padding-box;
  }
}
.content1 {
  @include box;
  .item {
    @include item;
    border: 20px dashed #000;
  }
  .item-1 {
    background-image: url("https://tse1-mm.cn.bing.net/th?id=OIP.bLx51CquIR2c5rp7BN1GjwHaLI&w=120&h=160&c=8&rs=1&qlt=90&pid=3.1&rm=2");
    background-repeat: no-repeat;
    background-clip: border-box;
  }
  .item-2 {
    background-image: url("https://tse1-mm.cn.bing.net/th?id=OIP.bLx51CquIR2c5rp7BN1GjwHaLI&w=120&h=160&c=8&rs=1&qlt=90&pid=3.1&rm=2");
    background-repeat: no-repeat;
    background-clip: content-box;
  }
  .item-3 {
    background-image: url("https://tse1-mm.cn.bing.net/th?id=OIP.bLx51CquIR2c5rp7BN1GjwHaLI&w=120&h=160&c=8&rs=1&qlt=90&pid=3.1&rm=2");
    background-repeat: no-repeat;
    background-clip: padding-box;
  }
}
.content2 {
  @include box;
  .item {
    @include item;
  }
  .item:nth-child(1) {
    background: linear-gradient(
      to right,
      red,
      orange,
      yellow,
      green,
      blue,
      indigo,
      violet
    );
  }
  .item:nth-child(2) {
    background: repeating-linear-gradient(
      red,
      yellow 15%,
      green 15%,
      blue 15%,
      indigo 15%,
      violet 15%
    );
  }
  .item:nth-child(3) {
    background: radial-gradient(
      circle,
      red,
      orange,
      yellow,
      green,
      blue,
      indigo,
      violet
    );
  }
  .item:nth-child(4) {
    background: radial-gradient(
      ellipse,
      red,
      orange,
      yellow,
      green,
      blue,
      indigo,
      violet
    );
  }
  .item:nth-child(5) {
    background: repeating-radial-gradient(
      red,
      yellow 10%,
      green 15%,
      indigo 25%
    );
  }
}
.content3 {
  @include box;
  .item {
    @include item;
  }
  .item:nth-child(1) {
    transform: skew(45deg, 145deg);
  }
  .item:nth-child(2) {
    transform: matrix(1, 0, 0, 1, 50, 50);
    background-color: rosybrown;
  }
  .item:nth-child(3) {
    transform-origin: top center;
    transform: rotateZ(-25deg);
  }
  .item:nth-child(4) {
    // transition-property 指定过渡属性
    // transition-duration 指定过渡时间
    // transition-timing-function 指定过渡函数
    // transition-delay 指定过渡延迟时间
    transition: all 2s ease-in-out 0.1s;
    &:hover {
      width: 150px;
    }
  }
  .item:nth-child(5) {
    animation: changeColor 1s ease 0.1s infinite;
    animation-direction: alternate; // 定义动画的方向，第偶数次向前播放，第奇数次向反方向播放。
    animation-play-state: paused;
    animation-fill-mode: forwards; // 动画结束时候的状态
    &:hover {
      animation-play-state: running; // 继续，还有属性，是暂停
    }
  }
}
@keyframes changeColor {
  0% {
    background: red;
    transform: rotateZ(45deg);
  }
  15% {
    background: orange;
    transform: rotateZ(90deg);
  }
  30% {
    background: yellow;
    transform: rotateZ(135deg);
  }
  45% {
    background: green;
    transform: rotateZ(180deg);
  }
  60% {
    background: blue;
    transform: rotateZ(225deg);
  }
  75% {
    background: indigo;
    transform: rotateZ(270deg);
  }
  90% {
    background: violet;
    transform: rotateZ(315deg);
  }
  100% {
    background: white;
    transform: rotateZ(360deg);
  }
}

.content4 {
  @include box;
  .item {
    @include item;
  }
}
.none {
  display: none;
}
